.task-item {
  border: 1px solid #000;
  display: flex;
  width: auto;
  min-width: 200px;
  min-height: 150px;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px;
}
.task-done {
  display: flex;
  justify-content: center;
  align-items: center;
}
#task-done-text {
  margin-left: 5px;
}
.task-item-title-container {
  margin: 0 10px;
}
p {
  text-align: center;
}
